@layer colours {
  :root{
    --White: hsl(0, 100%, 100%);
--Purple-100: hsl(275, 100%, 97%);
--Purple-600: hsl(292, 16%, 49%);
--Purple-950: hsl(292, 42%, 14%);
  }
}

@layer fonts {
  @font-face {
    font-family: work-regular;
    src: url(assets/fonts/static/WorkSans-Regular.ttf);
  }
  
  @font-face {
  font-family: work-semibold;
  src: url(/assets/fonts/static/WorkSans-SemiBold.ttf);
}

@font-face {
  font-family: work-bold;
  src: url(/assets/fonts/static/WorkSans-Bold.ttf);
}
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

p{
  font-family: work-regular;
  font-size: .9rem;
  color: var(--Purple-600);
  line-height: 1.6;
  font-weight: 400;
}

h1{
  font-family: work-bold;
  line-height: 1.6;
  font-weight: 700;
  font-size: 2rem;
  color: var(--Purple-950);
}

h3{
  font-family: work-semibold;
  line-height: 1.6;
  font-weight: 600;
  font-size: 1rem;
  color: var(--Purple-950);
}

body{
  background-image: url(/assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: fit;
  background-position: top;
  background-color: var(--Purple-100);
  
  display: flex;
justify-content: center;
align-items:center;
//height: 100vh;
}

.faq__container{

margin: 5rem 0;
width: 90%;

  background: var(--White);
  padding: 1rem;
  border-radius: .5rem;
}

.headings{
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0;
}
{}
.faq__heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 1rem 0;
}

.faq{
  margin: 1rem 0;
}

hr{
  
  border: 1px solid hsl(275, 100%, 97%);
}
.hidden{
  display: none;
  
}

@media screen and (min-width: 730px) {
  body{
    background-image: url(/assets/images/background-pattern-desktop.svg);
    height: 100vh;
    background-position: top;
  }
  
  .faq__container{
    width: max-content;
  }
  
  .faq__answer{
    width: 100%;
  }
}