@layer colours {
  :root{
    --White: hsl(0, 100%, 100%);
--Purple-100: hsl(275, 100%, 97%);
--Purple-600: hsl(292, 16%, 49%);
--Purple-950: hsl(292, 42%, 14%);
  }
}

@layer fonts {
  @font-face {
    font-family: work-regular;
    src: url(/assets/fonts/static/WorkSans-Regular.ttf);
  }
  
  @font-face {
  font-family: work-semibold;
  src: url(/assets/fonts/static/WorkSans-SemiBold.ttf);
}

@font-face {
  font-family: work-bold;
  src: url(/assets/fonts/static/WorkSans-Bold.ttf);
}
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
